*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* heading */

h1{
    background-color: rgb(17, 17, 31);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

/* choice content */

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    width: 165px;
}
.choice:hover{
    background-color: rgb(17, 17, 31);
    border-radius: 50%;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* score board */

#score-board{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}

/* msg container */

.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(17, 17, 31);
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}